body {
  background-color: whitesmoke;
  text-align: center;
}
img {
  max-width: 100%;
}
body {
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 48px;
}
h2 {
  color: black;
}

/* Default */
a {
  color: red;
  text-decoration: none;
  border-bottom: 10px dotted black;
  transition: color .5s ease;
}
/* Visited links */
a:visited {
  color: red;
}
/* Hover state */
a:hover {
  color: blue;
  cursor: crosshair;
}
/* Focused state */
a:focus {
  color: orange;
}
/* Activated state */
a:active {
  color: green;
}
