html {font-size: 16px;
  background-color: black;
  color: white;}
#container {
  width: 50%;
  margin: 100px auto;
}
img {
  width: 100%;
}
h1 {
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}
.intro {
  font-size: 2em;
}
.special {
  /* color: blue; */
  font-family: sans-serif;
}
